*.ipynb_checkpoints
*.acn                          
*.acr               
*.alg               
*.aux              
*.bbl             
*.blg              
*.dvi             
*.fdb_latexmk
*.glg            
*.glo               
*.gls              
*.idx              
*.ilg               
*.ind               
*.ist              
*.lof              
*.log             
*.lot               
*.maf                          
*.mp                
*.mtc                           
*.mtc1                          
*.nav
*.nlo
*.out                           
*.pdfsync                                 
*.synctex.gz                    
*.toc                           
*.top               
*.tui               
*.vrb
